export DEMO_HOME="/Users/kameshs/MyLabs/gloo/edge/demo"
export DEMO_WORK_DIR="${DEMO_HOME}/work"

# GLOO
export GLOO_EDGE_LICENSE_KEY="$GLOO_LICENSE_KEY"


# Kubernetes context name of Gloo Edge Cluster that will have management components installed
export MGMT=mgmt
export CLUSTER1=cluster1
export CLUSTER2=cluster2

export KUBECONFIG="${DEMO_WORK_DIR}/.kube/config"

PATH_add "${DEMO_HOME}/bin"
PATH_add "${DEMO_WORK_DIR}/work/bin"

export GIT_SSL_NO_VERIFY=true

export MINIKUBE_HOME="${DEMO_WORK_DIR}/.minikube"
export MINIKUBE_DRIVER=hyperkit
