
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.ansible

!bin
!.vscode

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

#mkdocs
site

# vercel
.vercel

# vagrant
.vagrant 

.env*
!.env.example

*password*
.venv
kubeconfig*
.vagrant
local.gcp.conf
.local.vars.yml
*.url

# nix

result
result-*
.pre-commit-config.yaml
.direnv

# vagrant
.vagrant 

.envrc
.env*
work
.kube
cleanup.yml
test.yml
__pycache__
*.tar.gz
dist
.envrc.local
**/*.log
.direnv